doctype html
html
    head
        meta(charser = 'utf-8')
        link(rel="icon" type="image/png" sizes="16x16" href=require('img/main-page/favicon-16x16.png'))
        meta(id="vp" name="viewport" content="width=device-width, initial-scale=1.0")
        title Проекты - Boston
        include ../../analytics
    body.work
        .wrapper
            header.header
                nav
                    ul
                        li
                            a.link(href='/ru') Проекты
                            a.link(href='/ru/info.html') Инфо
                a.lang(href='/en/boston.html') EN
            section.first
                .title(data-aos="fade-in") BOSTON
                .block
                    .text Лендинг клубного дома
                    .text Проектирование и дизайн
                    .text Ноябрь 2019
                a.link-b.js-link(href="https://www.behance.net/gallery/89175839/Boston-Real-estate-Landing-page" target='_blank') Behance
                .content
                    p Клубный дом Boston — это аппартаменты с уникальной архитектурой и интерьерами, в которых видимая роскошь сочетается с комфортом.
                    p В ходе выполнения проекта был проведен конкурентный анализ, построена удобная структура и отрисована визуальная концепция в стиле минимализма.
        .img-1.js-img-animate(style='background-image: url(' + require('./../../../img/boston/Boston-1600-min.jpg') + ')')
        .wrapper
            .content-2
                p.js-text-animate Страница сайта позволяет пользователю ознакомиться с расположением и характеристиками, оценить преимущества и предложения клубного дома, а в завершении оставить заявку, заполнив форму обратной связи.
            .content-3(data-aos="fade-up")
                img.img-2.js-img-animate(src=require('./../../../img/boston/boston-2.jpg'))
            .content-2
                p.js-text-animate Также была проектирована адаптивная версия сайта, посредством которой сайт корректно отображается на все устройствах.
            .content-4
                .bl.bl-1.js-mob-animate
                    img.img-2(src=require('./../../../img/boston/1.png'))
                    img.img-2(src=require('./../../../img/boston/2.png'))
                    img.img-2(src=require('./../../../img/boston/3.png'))
                .bl.js-mob-animate
                    img.img-2(src=require('./../../../img/boston/4.png'))
                    img.img-2(src=require('./../../../img/boston/5.png'))
                    img.img-2(src=require('./../../../img/boston/6.png'))
        .work-footer
            .wrapper.w-foot
                .f-dop
                    .cont(data-cursor-hover)
                        .block-1
                            .text-1 Следующий проект
                            .text-2(data-text="UNIQUE" data-to-work2="/ru/unique.html") UNIQUE
                        .block-2(data-to-work2="/ru/unique.html")
                            img(src=require('./../../../img/unique/u-next.jpg'))
                            .img-help
        footer.black
            .wrapper
                .text-2 &#169 2020 Svetlana Tsymbalyuk
