doctype html
html
    head
        meta(charser = 'utf-8')
        link(rel="icon" type="image/png" sizes="16x16" href=require('img/main-page/favicon-16x16.png'))
        meta(id="vp" name="viewport" content="width=device-width, initial-scale=1.0")
        title Проекты - Chloe
        include ../../analytics
    body.work
        .wrapper
            header.header
                nav
                    ul
                        li
                            a.link(href='/ru') Проекты
                            a.link(href='/ru/info.html') Инфо
                a.lang(href='/en/chloe.html') EN
            section.first
                .title(data-aos="fade-in") CHLOE
                .block
                    .text Редизайн интернет-магазина
                    .text Проектирование и дизайн
                    .text Декабрь 2019
                a.link-b.js-link(href="https://www.behance.net/gallery/93129255/Chloe-Online-store-Redesign-Concept" target='_blank') Behance
                .content
                    p Chloe — французский дом моды, специализирующийся на выпуске одежды, обуви, аксессуаров и парфюмерии.
                    p Цель этого проекта — обновить внешний вид и структуру существующего интернет магазина.
        .img-1.img-cus-1(style='background-image: url(' + require('./../../../img/chloe/Chloe-1600-min.jpg') + ')')
        .wrapper
            .content-main-text
                p.js-text-animate Дизайн выполнен таким образом, чтобы сосредоточить внимание пользователя на контенте и создать ощущение элегантности.
            .content-3.mb100-2.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/chloe/chloe-1.jpg'))
            .content-3.mb100-2.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/chloe/chloe-3.jpg'))
            .content-3.mb100-2.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/chloe/chloe-6.jpg'))
            .content-3.mb100-2.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/chloe/chloe-4.jpg'))
            .content-3.mb100-2.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/chloe/chloe-5.jpg'))
            .content-3.mb100-2.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/chloe/chloe-2.jpg'))
            .content-3.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/chloe/chloe-222.jpg'))
            .content-2
                p.js-text-animate Также была проектирована адаптивная версия сайта, посредством которой сайт корректно отображается на все устройствах.
            .content-7.pre-footer
                .block-1.js-mob-animate
                    img(src=require('./../../../img/chloe/Tablet-3-min.png'))
                    img(src=require('./../../../img/chloe/Tablet-2-min.png'))
                    img(src=require('./../../../img/chloe/Tablet-1-min.png'))
                .block-2.js-mob-animate
                    img.mb50(src=require('./../../../img/chloe/641-min.png'))
                    img(src=require('./../../../img/chloe/1-min.png'))
        .work-footer
            .wrapper.w-foot
                .f-dop
                    .cont(data-cursor-hover)
                        .block-1
                            .text-1 Следующий проект
                            .text-2(data-text="BOSTON" data-to-work2="/ru/boston.html") BOSTON
                        .block-2(data-to-work2="/ru/boston.html")
                            img(src=require('./../../../img/main-page/03-min.jpg'))
                            .img-help
        footer.black
            .wrapper
                .text-2 &#169 2020 Svetlana Tsymbalyuk
