doctype html
html
    head
    meta(charser = 'utf-8')
    title Webpack App
    body.work
        .wrapper
            header.header
                nav
                    ul
                        li
                            a.link(href='/ru') Проекты
                            a.link(href='/ru/info.html') Инфо
                a.lang(href='/en/chloe.html') EN
            section.first
                .title(data-aos="fade-in") CHLOE
                .block
                    .text Редизайн интернет-магазина
                    .text Проектирование и дизайн
                    .text Декабрь 2019
                a.link.js-link Behance
                .content
                    p Chloe — французский дом моды, специализирующийся на выпуске одежды, обуви, аксессуаров и парфюмерии.
                    p Цель этого проекта — обновить внешний вид и структуру существующего интернет магазина.
        img.img-1.js-img-animate(src=require('./../../../img/chloe/chloe-8.jpg'))
        .wrapper
            .content-2
                p.js-text-animate Дизайн выполнен таким образом, чтобы сосредоточить внимание пользователя на контенте и создать ощущение элегантности.
            .content-3.mb100.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/chloe/chloe-1.jpg'))
            .content-3.mb100.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/chloe/chloe-3.jpg'))
            .content-3.mb100.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/chloe/chloe-6.jpg'))
            .content-3.mb100.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/chloe/chloe-4.jpg'))
            .content-3.mb100.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/chloe/chloe-5.jpg'))
            .content-3.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/chloe/chloe-2.jpg'))
            .content-2
                p.js-text-animate Также была проектирована адаптивная версия сайта, посредством которой сайт корректно отображается на все устройствах.
            .content-7
                .block-1.js-mob-animate
                    img(src=require('./../../../img/chloe/Tablet-3-min.png'))
                    img(src=require('./../../../img/chloe/Tablet-2-min.png'))
                    img(src=require('./../../../img/chloe/Tablet-1-min.png'))
                .block-2.js-mob-animate
                    img.mb50(src=require('./../../../img/chloe/641-min.png'))
                    img(src=require('./../../../img/chloe/1-min.png'))
        .work-footer
            .wrapper
                .cont
                    .block-1
                        .text-1 Следующий проект
                        .text-2(data-text="BOSTON" data-to-work2="/ru/boston.html") BOSTON
                    .block-2(data-to-work2="/ru/boston.html")
                        img(src=require('./../../../img/main-page/03-min.jpg'))
                        .img-help
        footer.black
            .wrapper
                .text &#169 2020 Svetlana Tsymbalyuk
