doctype html
html(lang='ru')
    head
        meta(charser = 'utf-8')
        link(rel="icon" type="image/png" sizes="16x16" href=require('img/main-page/favicon-16x16.png'))
        meta(id="vp" name="viewport" content="width=device-width, initial-scale=1.0")
        title Проекты - JCB
        include ../../analytics
    body.work
        .work-content
            .wrapper
                header.header
                    nav
                        ul
                            li
                                a.link(href='/ru') Проекты
                                a.link(href='/ru/info.html') Инфо
                    a.lang(href='/en/jcb.html') EN
                section.first
                    .title(data-aos="fade-in") JCB
                    .block
                        .text Корпоративный сайт
                        .text Проектирование и дизайн
                        .text Май 2020
                    a.link-b.js-link(href="https://www.behance.net/gallery/108597017/JCB-corporate-website-redesign" target='_blank') Behance
                    .content
                        p JCB — британская компания, которая производит погрузчики, экскаваторы, тракторы, самосвалы и аналогичную технику. Сегодня JCB входит в тройку мировых лидеров по производству строительной техники.
                        p Целью моей работы было создание нового дизайна существующего сайта, который подчеркнёт премиальность и статусность компании.
        .img-1(style='background-image: url(' + require('./../../../img/jcb/main.jpg') + ')')
        .wrapper
            .content-main-text
                p.js-text-animate На главной странице можно увидеть анонсы основных внутренних страниц (“О компании”, “Продукты”, “Новости”) с возможностью перехода на них.
            .content-3.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/jcb/img1.jpg'))
            .content-2
                p.js-text-animate Так выглядит анимация “Меню” сайта.
            .content-3.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/jcb/img2.jpg'))
            .content-2
                p.js-text-animate Страница “Продукты” позволяет пользователю удобно выбрать нужную категорию продукции и ознакомиться с ассортиментом компании.
            .content-3.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/jcb/img3.jpg'))
            .content-2
                p.js-text-animate Раздел “О компании” содержит информацию о компании и  её основных этапах развития.
            .content-3.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/jcb/img4.jpg'))
            .content-2
                div.js-text-animate 
                    p На странице “Карьера” можно подобрать подходящие вакансии и узнать о перспективах работы в компании.
                    p Страница “Поиск дилера” поддерживает общий стиль сайта, а удобная навигация позволяет найти нужную информацию.
            .content-3.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/jcb/img5.jpg'))
            .content-2
                p.js-text-animate “Новости компании” представлены карточками, при клике на которые открывается страница статьи.
            .content-3.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/jcb/img6.jpg'))
            .content-2
                p.js-text-animate Страница “Контакты” выглядит легко и одновременно премиально.
            .content-3.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/jcb/img7.jpg'))
            .content-2
                p.js-text-animate Также была спроектирована адаптивная версия, посредством которой сайт корректно отображается на всех устройствах.
            .content-8.js-mob-animate
                .col 
                    img(src=require('./../../../img/jcb/jcb-12.png'))
                .col 
                    img(src=require('./../../../img/jcb/jcb-13.png'))
                .col
            .content-8.mt-70.js-mob-animate
                .col 
                    img(src=require('./../../../img/jcb/jcb-14.png'))
                .col 
                    img(src=require('./../../../img/jcb/jcb-15.png'))
                .col
                    img(src=require('./../../../img/jcb/jcb-16.png'))
            .content-8.mt-70.js-mob-animate.mb
                .col 
                .col 
                    img(src=require('./../../../img/jcb/jcb-17.png'))
                .col
                    img(src=require('./../../../img/jcb/jcb-18.png'))
        .work-footer
            .wrapper.w-foot
                .f-dop
                    .cont(data-cursor-hover)
                        .block-1
                            .text-1 Следующий проект
                            .text-2(data-text="UNIQUE" data-to-work2="/ru/unique.html") UNIQUE
                        .block-2(data-to-work2="/ru/unique.html")
                            img(src=require('./../../../img/unique/u-next.jpg'))
                            .img-help
        footer.black
            .wrapper
                .text-2 &#169 2021 Svetlana Tsymbalyuk
