doctype html
html
    head
    meta(charser = 'utf-8')
    title Webpack App
    body.work
        .wrapper
            header.header
                nav
                    ul
                        li
                            a.link(href='/en') Projects
                                a.link(href='/en/info.html') Info
                a.lang(href='/ru/art-guide.html') RU
            section.first
                .title(data-aos="fade-in") ARTGUIDE
                .block
                    .text News site redesign
                    .text Design
                    .text January 2020
                a.link.js-link Behance
                .content
                    p Artguide - an online resource dedicated to the cultural life of Moscow and St. Petersburg.
                    p The main task: to change the appearance and navigation of an existing site, to make user interaction with content more simple and intuitive.
        img.img-1.js-img-animate(src=require('./../../../img/artguide/artguide-min.jpg'))
        .wrapper
            .content-2
                p.js-text-animate Laconic page layout in the style of minimalism emphasizes the semantic richness of the site and facilitates the perception of information.
            .content-3.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/artguide/artguide-main.jpg'))
            .content-2
                p.js-text-animate An adaptive version was also designed, through which the site is correctly displayed on all devices.
            .content-4
                .bl.js-mob-animate
                    img.img-2(src=require('./../../../img/artguide/1-min.png'))
                    img.img-2(src=require('./../../../img/artguide/2-min.png'))
                    img.img-2(src=require('./../../../img/artguide/3-min.png'))
            .content-3.js-img-animate(data-aos="fade-up")
                img.img-2.mb100(src=require('./../../../img/artguide/artguide-3.jpg'))
            .content-4
                .bl.bl-1.js-mob-animate
                    img.img-2(src=require('./../../../img/artguide/4-min.png'))
                    img.img-2(src=require('./../../../img/artguide/5-min.png'))
                    img.img-2(src=require('./../../../img/artguide/6-min.png'))
                .bl.js-mob-animate
                    img.img-2(src=require('./../../../img/artguide/7-min.png'))
                    img.img-2(src=require('./../../../img/artguide/8-min.png'))
                    img.img-2(src=require('./../../../img/artguide/9-min.png'))
            .content-6
                .block-1
                    img(src=require('./../../../img/artguide/arguide-1.jpg'))
                .block-2
                    img(src=require('./../../../img/artguide/650-min.png'))
            .content-3.js-img-animate(data-aos="fade-up")
                img.img-2.mb100(src=require('./../../../img/artguide/artguide-2.jpg'))
        .work-footer
            .wrapper
                .cont
                    .block-1
                        .text-1 Next project
                        .text-2(data-text="CHLOE") CHLOE
                    .block-2
                        img(src=require('./../../../img/main-page/03-min.jpg'))
                        .img-help
        footer.black
            .wrapper
                .text &#169 2020 Svetlana Tsymbalyuk
