doctype html
html(lang='en')
    head
        meta(charser = 'utf-8')
        link(rel="icon" type="image/png" sizes="16x16" href=require('img/main-page/favicon-16x16.png'))
        meta(id="vp" name="viewport" content="width=device-width, initial-scale=1.0")
        title Project - ArtGuide
        include ../../analytics
    body.work
        .header__bg
            .wrapper.header__wrapper
                header.header
                    nav
                        ul
                            li
                                a.link(href='/en') Projects
                                a.link(href='/en/info.html') Info
                    a.lang(href='/ru/art-guide.html') RU
        .wrapper.content-mr
            section.first
                .title(data-aos="fade-in") ARTGUIDE
                .block
                    .text News site redesign
                    .text Design
                    .text January 2020
                a.link-b.js-link(href="https://www.behance.net/gallery/93129881/ARTGUIDE-News-website-Redesign-Concept" target='_blank') Behance
                .content
                    p Artguide - an online resource dedicated to the cultural life of Moscow and St. Petersburg.
                    p The main task: to change the appearance and navigation of an existing site, to make user interaction with content more simple and intuitive.
        .img-1(style='background-image: url(' + require('./../../../img/artguide/art-1600-min.jpg') + ')')
        .wrapper
            .content-main-text
                p.js-text-animate Laconic page layout in the style of minimalism emphasizes the semantic richness of the site and facilitates the perception of information.
            .content-3.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/artguide/artguide-main.jpg'))
            .content-2
                p.js-text-animate An adaptive version was also designed, through which the site is correctly displayed on all devices.
            .content-4.p-v
                .bl.js-mob-animate
                    img.img-2(src=require('img/artguide/1-art.png'))
                    img.img-2(src=require('./../../../img/artguide/2-min.png'))
                    img.img-2(src=require('./../../../img/artguide/3-min.png'))
            .content-2
                p.js-text-animate Article page with a selection of relevant articles and a feed of the latest news.
            .content-3.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/artguide/artguide-3.jpg'))
            .content-4.mt-100-2.p-v
                .bl.bl-1.js-mob-animate
                    img.img-2(src=require('./../../../img/artguide/4-min.png'))
                    img.img-2(src=require('./../../../img/artguide/5-min.png'))
                    img.img-2(src=require('./../../../img/artguide/6-min.png'))
                .bl.js-mob-animate
                    img.img-2(src=require('./../../../img/artguide/7-min.png'))
                    img.img-2(src=require('./../../../img/artguide/8-min.png'))
                    img.img-2(src=require('./../../../img/artguide/9-min.png'))
            .content-2
                p.js-text-animate The news page is designed as a feed and supports the overall clear style of the site.
            .content-6.p-v
                .block-1.js-img-animate
                    img(src=require('./../../../img/artguide/arguide-1.jpg'))
                .block-2.js-mob-animate
                    img(src=require('./../../../img/artguide/650-min.png'))
            .content-2
                p.js-text-animate From the upcoming events presented on the page, using filtering, the user can easily select the most suitable for himself.
            .content-3.js-img-animate.pre-footer(data-aos="fade-up")
                img.img-2(src=require('./../../../img/artguide/artguide-2.jpg'))
        .work-footer
            .wrapper.w-foot
                .f-dop
                    .cont(data-cursor-hover)
                        .block-1
                            .dop
                                .text-1 Next project
                                .text-2(data-text="CHLOE" data-to-work2="/en/chloe.html") CHLOE
                        .block-2(data-to-work2="/en/chloe.html")
                            img(src=require('./../../../img/main-page/02-min.jpg'))
                            .img-help
    footer.black
        .wrapper
            .text © 2022 Svetlana Tsymbalyuk 
