doctype html
html
    head
    meta(charser = 'utf-8')
    title Webpack App
    body.work
        .wrapper
            header.header
                nav
                    ul
                        li
                            a.link(href='/en') Projects
                            a.link(href='/en/info.html') Info
                a.lang(href='/ru/boston.html') RU
            section.first
                .title(data-aos="fade-in") BOSTON
                .block
                    .text Landing page for club house
                    .text Design
                    .text November 2019
                a.link.js-link Behance
                .content
                    p Club House Boston is an apartment with unique architecture and interiors, in which visible luxury is combined with comfort.
                    p In the process of creating the project, a competitive analysis was carried out, a convenient structure was built and a visual concept was drawn in the style of minimalism.
        img.img-1.js-img-animate(src=require('./../../../img/boston/boston-1.jpg'))
        .wrapper
            .content-2
                p.js-text-animate The site page allows the user to familiarize themselves with the location and characteristics, evaluate the benefits and offers of the club house, and in the end leave a request by filling out the feedback form.
            .content-3(data-aos="fade-up")
                img.img-2.js-img-animate(src=require('./../../../img/boston/boston-2.jpg'))
            .content-2
                p.js-text-animate An adaptive version was also designed, through which the site is correctly displayed on all devices.
            .content-4.pb-200
                .bl.bl-1.js-mob-animate
                    img.img-2(src=require('./../../../img/boston/1.png'))
                    img.img-2(src=require('./../../../img/boston/2.png'))
                    img.img-2(src=require('./../../../img/boston/3.png'))
                .bl.js-mob-animate
                    img.img-2(src=require('./../../../img/boston/4.png'))
                    img.img-2(src=require('./../../../img/boston/5.png'))
                    img.img-2(src=require('./../../../img/boston/6.png'))
        .work-footer
            .wrapper
                .cont
                    .block-1
                        .text-1 Next project
                        .text-2(data-text="ARTGUIDE") ARTGUIDE
                    .block-2
                        img(src=require('./../../../img/main-page/01-min.jpg'))
                        .img-help
        footer.black
            .wrapper
                .text &#169 2020 Svetlana Tsymbalyuk
