doctype html
html(lang="en")
    head
        meta(charser = 'utf-8')
        link(rel="icon" type="image/png" sizes="16x16" href=require('img/main-page/favicon-16x16.png'))
        meta(id="vp" name="viewport" content="width=device-width, initial-scale=1.0")
        title Project - Boston
        include ../../analytics
    body.work
        .wrapper
            header.header
                nav
                    ul
                        li
                            a.link(href='/en') Projects
                            a.link(href='/en/info.html') Info
                a.lang(href='/ru/boston.html') RU
            section.first
                .title(data-aos="fade-in") BOSTON
                .block
                    .text Landing page for club house
                    .text Design
                    .text November 2019
                a.link-b.js-link(href="https://www.behance.net/gallery/89175839/Boston-Real-estate-Landing-page" target='_blank') Behance
                .content
                    p Club House Boston is an apartment with unique architecture and interiors, in which visible luxury is combined with comfort.
                    p In the process of creating the project, a competitive analysis was carried out, a convenient structure was built and a visual concept was drawn in the style of minimalism.
        .img-1(style='background-image: url(' + require('./../../../img/boston/Boston-1600-min.jpg') + ')')
        .wrapper
            .content-main-text
                p.js-text-animate The site page allows the user to familiarize themselves with the location and characteristics, evaluate the benefits and offers of the club house, and in the end leave a request by filling out the feedback form.
            .content-3(data-aos="fade-up")
                img.img-2.js-img-animate(src=require('./../../../img/boston/boston-2.jpg'))
            .content-2
                p.js-text-animate An adaptive version was also designed, through which the site is correctly displayed on all devices.
            .content-4
                .bl.bl-1.js-mob-animate
                    img.img-2(src=require('./../../../img/boston/1.png'))
                    img.img-2(src=require('./../../../img/boston/2.png'))
                    img.img-2(src=require('./../../../img/boston/3.png'))
                .bl.js-mob-animate
                    img.img-2(src=require('./../../../img/boston/4.png'))
                    img.img-2(src=require('./../../../img/boston/5.png'))
                    img.img-2(src=require('./../../../img/boston/6.png'))
        .work-footer
            .wrapper.w-foot
                .f-dop
                    .cont(data-cursor-hover)
                        .block-1
                            .text-1 Next project
                            .text-2(data-text="UNIQUE" data-to-work2="/en/unique.html") UNIQUE
                        .block-2(data-to-work2="/en/unique.html")
                             img(src=require('./../../../img/unique/u-next.jpg'))
                             .img-help
        footer.black
            .wrapper
                .text-2 &#169 2020 Svetlana Tsymbalyuk
