doctype html
html
    head
    meta(charser = 'utf-8')
    title Webpack App
    body.work
        .wrapper
            header.header
                nav
                    ul
                        li
                            a.link(href='/en') Projects
                            a.link(href='/en/info.html') Info
                a.lang(href='/ru/chloe.html') RU
            section.first
                .title(data-aos="fade-in") CHLOE
                .block
                    .text Online store redesign
                    .text Design
                    .text December 2019
                a.link-b.js-link(href="https://www.behance.net/gallery/93129255/Chloe-Online-store-Redesign-Concept" target='_blank') Behance
                .content
                    p Chloe is a French fashion house specializing in clothes, shoes, accessories and perfumes.
                    p The goal of this project is to update the look and structure of an existing online store.
        img.img-1.js-img-animate(src=require('./../../../img/chloe/chloe-8.jpg'))
        .wrapper
            .content-2
                p.js-text-animate The design was created in such a way as to focus the user's attention on the content and create a sense of elegance.
            .content-3.mb100.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/chloe/chloe-1.jpg'))
            .content-3.mb100.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/chloe/chloe-3.jpg'))
            .content-3.mb100.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/chloe/chloe-6.jpg'))
            .content-3.mb100.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/chloe/chloe-4.jpg'))
            .content-3.mb100.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/chloe/chloe-5.jpg'))
            .content-3.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/chloe/chloe-2.jpg'))
            .content-2
                p.js-text-animate An adaptive version was also designed, through which the site is correctly displayed on all devices.
            .content-7
                .block-1.js-mob-animate
                    img(src=require('./../../../img/chloe/Tablet-3-min.png'))
                    img(src=require('./../../../img/chloe/Tablet-2-min.png'))
                    img(src=require('./../../../img/chloe/Tablet-1-min.png'))
                .block-2.js-mob-animate
                    img.mb50(src=require('./../../../img/chloe/641-min.png'))
                    img(src=require('./../../../img/chloe/1-min.png'))
        .work-footer
            .wrapper
                .cont
                    .block-1
                        .text-1 Next project
                        .text-2(data-text="BOSTON" data-to-work2="/en/boston.html") BOSTON
                    .block-2(data-to-work2="/en/boston.html")
                        img(src=require('./../../../img/main-page/03-min.jpg'))
                        .img-help
        footer.black
            .wrapper
                .text &#169 2020 Svetlana Tsymbalyuk
