doctype html
html(lang="en")
    head
        meta(charser = 'utf-8')
        link(rel="icon" type="image/png" sizes="16x16" href=require('img/main-page/favicon-16x16.png'))
        meta(id="vp" name="viewport" content="width=device-width, initial-scale=1.0")
        title Project - IBANEZ
        include ../../analytics
    body.work
        .work-content
            .wrapper
                header.header
                    nav
                        ul
                            li
                                a.link(href='/en') Projects
                                a.link(href='/en/info.html') Info
                    a.lang(href='/ru/ibanez.html') RU
                section.first
                    .title(data-aos="fade-in") IBANEZ 
                    .block
                        .text Corporate website
                        .text Design
                        .text October 2020
                    a.link-b.js-link(href="https://www.behance.net/gallery/111523361/Ibanez-new-website-redesign-concept" target='_blank') Behance
                    .content
                        p Ibanez is one of the first Japanese musical instrument companies to make a name for itself all over the world.
                        p This project is a new design of the corporate website of a popular guitar manufacturer. In it, I wanted to reflect my vision of the visual concept and convey a certain atmosphere of rock music with the help of bright headlines and a non-standard grid.
        .img-1(style='background-image: url(' + require('./../../../img/ibanez/main.jpg') + ')')
        .wrapper
            .content-main-text
                p.js-text-animate The main page contains announcements of internal pages with the possibility of a transition.
            .content-3.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/ibanez/img-1.jpg'))
            .content-2
                p.js-text-animate The main page contains announcements of internal pages with the possibility of a transition.
            .content-11.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/ibanez/img-2.jpg'))
            .content-2
                p.js-text-animate The catalog page maintains a minimalist style.
            .content-3.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/ibanez/img-3.jpg'))
            .content-2
                p.js-text-animate The Electric Guitars section contains a cover, a block with product features, signature guitars of the musicians and a line of series of the corresponding category.
            .content-3.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/ibanez/img-4.jpg'))
            .content-2
                div.js-text-animate
                    p On the page of a certain series of guitars, you can read its description, technical characteristics and go to the models of instruments.
                    p The pages for acoustic and bass guitars are designed in dark colors.
            .content-3.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/ibanez/img-5.jpg'))
            .content-3.mt.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/ibanez/img-6.jpg'))
            .content-2
                p.js-text-animate Страницы артистов предлагают ознакомиться с биографией и фирменными гитарами музыкантов.
            .content-3.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/ibanez/img-7.jpg'))
            .content-3.mt.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/ibanez/img-8.jpg'))
            .content-11.mt.mb.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/ibanez/img-9.jpg'))
        .work-footer
            .wrapper.w-foot
                .f-dop
                    .cont(data-cursor-hover)
                        .block-1
                            .dop
                                .text-1 Next project
                                .text-2(data-text="JCB" data-to-work2="/en/jcb.html") JCB
                        .block-2(data-to-work2="/en/jcb.html")
                            img(src=require('./../../../img/jcb/prev.jpg'))
                            .img-help
        footer.black
            .wrapper
                .text © 2022 Svetlana Tsymbalyuk 
