doctype html
html(lang="en")
    head
        meta(charser = 'utf-8')
        link(rel="icon" type="image/png" sizes="16x16" href=require('img/main-page/favicon-16x16.png'))
        meta(id="vp" name="viewport" content="width=device-width, initial-scale=1.0")
        title Project - JCB
        include ../../analytics
    body.work
        .work-content
            .wrapper
                header.header
                    nav
                        ul
                            li
                                a.link(href='/en') Projects
                                a.link(href='/en/info.html') Info
                    a.lang(href='/ru/jcb.html') RU
                section.first
                    .title(data-aos="fade-in") JCB
                    .block
                        .text Corporate website
                        .text Design
                        .text May 2020
                    a.link-b.js-link(href="https://www.behance.net/gallery/108597017/JCB-corporate-website-redesign" target='_blank') Behance
                    .content
                        p JCB is a British company that manufactures loaders, excavators, tractors, dump trucks and similar equipment. Today JCB is one of the three world leaders in the production of construction equipment.
                        p The purpose of my work was to create a new design of the existing site, which will emphasize the premium and status of the company.
        .img-1(style='background-image: url(' + require('./../../../img/jcb/main.jpg') + ')')
        .wrapper
            .content-main-text
                p.js-text-animate On the main page you can see the announcements of the internal pages ("About the Company", "Products", "News") with the possibility of switching to them.
            .content-3.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/jcb/img1.jpg'))
            .content-2
                p.js-text-animate This is how the opened “Menu” of the site looks like.
            .content-3.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/jcb/img2.jpg'))
            .content-2
                p.js-text-animate The “Products” page allows the user to conveniently select the desired product category and familiarize himself with the company's assortment.
            .content-3.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/jcb/img3.jpg'))
            .content-2
                p.js-text-animate The section “About the Company” contains information about the company and its main stages of development.
            .content-3.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/jcb/img4.jpg'))
            .content-2
                div.js-text-animate 
                    p On the "Career" page, you can find suitable vacancies and learn about the prospects for work in the company. 
                    p The Dealer Locator page maintains the overall style of the site, and easy navigation allows you to find the information you need.
            .content-3.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/jcb/img5.jpg'))
            .content-2
                p.js-text-animate "Company news" is represented by cards, by clicking on which the article page opens.
            .content-3.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/jcb/img6.jpg'))
            .content-2
                p.js-text-animate The "Contacts" page looks clean and premium at the same time.
            .content-3.js-img-animate(data-aos="fade-up")
                img.img-2(src=require('./../../../img/jcb/img7.jpg'))
            .content-2
                p.js-text-animate An adaptive version was also designed, through which the site is displayed correctly on all devices.
            .content-8.js-mob-animate
                .col 
                    img(src=require('./../../../img/jcb/jcb-12.png'))
                .col 
                    img(src=require('./../../../img/jcb/jcb-13.png'))
                .col
            .content-8.mt-70.js-mob-animate
                .col 
                    img(src=require('./../../../img/jcb/jcb-14.png'))
                .col 
                    img(src=require('./../../../img/jcb/jcb-15.png'))
                .col
                    img(src=require('./../../../img/jcb/jcb-16.png'))
            .content-8.mt-70.js-mob-animate.mb
                .col 
                .col 
                    img(src=require('./../../../img/jcb/jcb-17.png'))
                .col
                    img(src=require('./../../../img/jcb/jcb-18.png'))
        .work-footer
            .wrapper.w-foot
                .f-dop
                    .cont(data-cursor-hover)
                        .block-1
                            .text-1 Next project
                            .text-2(data-text="UNIQUE" data-to-work2="/en/unique.html") UNIQUE
                        .block-2(data-to-work2="/en/unique.html")
                            img(src=require('./../../../img/unique/u-next.jpg'))
                            .img-help
        footer.black
            .wrapper
                .text-2 &#169 2021 Svetlana Tsymbalyuk
