doctype html
html
    head
    meta(charser = 'utf-8')
    title Webpack App
    body.work
        .wrapper
            include ../includes/header-not-animate
            section.first
                .title(data-aos="fade-in") АРТГИД
                .block
                    .text Редизайн интернет-магазина
                    .text Проектирование и дизайн
                    .text Январь 2020
                a.link Behance
                .content
                    p Артгид — интернет-ресурс, посвящённый культурной жизни Москвы и Санкт-Петербурга.
                    p Основная задача: изменить внешний вид и навигацию существующего сайта, сделать взаимодействие пользователей с контентом более простым и интуитивно понятным.
        img.img-1(src=require('img/artguide/artguide-cover2.jpg'))
        .wrapper
            .content-2
                p Лаконичное оформление страниц в стиле минимализма подчёркивает смысловую насыщенность сайта и облегчает восприятие информации.
            .content-3(data-aos="fade-up")
                img.img-2(src=require('img/artguide/artguide-main.jpg'))
            .content-2
                p Также была проектирована адаптивная версия сайта, посредством которой сайт корректно отображается на все устройствах.
            .content-4
                .bl
                    img.img-2(src=require('img/artguide/1-min.png'))
                    img.img-2(src=require('img/artguide/2-min.png'))
                    img.img-2(src=require('img/artguide/3-min.png'))
            .content-3(data-aos="fade-up")
                img.img-2.mb100(src=require('img/artguide/artguide-3.jpg'))
            .content-4
                .bl.bl-1
                    img.img-2(src=require('img/artguide/4-min.png'))
                    img.img-2(src=require('img/artguide/5-min.png'))
                    img.img-2(src=require('img/artguide/6-min.png'))
                .bl
                    img.img-2(src=require('img/artguide/7-min.png'))
                    img.img-2(src=require('img/artguide/8-min.png'))
                    img.img-2(src=require('img/artguide/9-min.png'))
            .content-6
                .block-1
                    img(src=require('img/artguide/arguide-1.jpg'))
                .block-2
                    img(src=require('img/artguide/650-min.png'))
            .content-3(data-aos="fade-up")
                img.img-2.mb100(src=require('img/artguide/artguide-2.jpg'))
        .work-footer
            .wrapper
                .cont
                    .block-1
                        .text-1 Следующий проект
                        .text-2 АРТГИД
                    .block-2
                        img(src=require('img/main-page/artguide.jpg'))
        footer
            .wrapper
                .text &#169 2020 Svetlana Tsymbalyuk
