doctype html
html
    head
    meta(charser = 'utf-8')
    title Webpack App
    body.work
        .wrapper
            include ../includes/header-not-animate
            section.first
                .title(data-aos="fade-in") CHLOE
                .block
                    .text Редизайн интернет-магазина
                    .text Проектирование и дизайн
                    .text Декабрь 2019
                a.link Behance
                .content
                    p Chloe — французский дом моды, специализирующийся на выпуске одежды, обуви, аксессуаров и парфюмерии.
                    p Цель этого проекта — обновить внешний вид и структуру существующего интернет магазина.
        img.img-1(src=require('img/chloe/chloe-8.jpg'))
        .wrapper
            .content-2
                p Дизайн выполнен таким образом, чтобы сосредоточить внимание пользователя на контенте и создать ощущение элегантности.
            .content-3.mb100(data-aos="fade-up")
                img.img-2(src=require('img/chloe/chloe-1.jpg'))
            .content-3.mb100(data-aos="fade-up")
                img.img-2(src=require('img/chloe/chloe-3.jpg'))
            .content-3.mb100(data-aos="fade-up")
                img.img-2(src=require('img/chloe/chloe-6.jpg'))
            .content-3.mb100(data-aos="fade-up")
                img.img-2(src=require('img/chloe/chloe-4.jpg'))
            .content-3.mb100(data-aos="fade-up")
                img.img-2(src=require('img/chloe/chloe-5.jpg'))
            .content-3(data-aos="fade-up")
                img.img-2(src=require('img/chloe/chloe-2.jpg'))
            .content-2
                p Также была проектирована адаптивная версия сайта, посредством которой сайт корректно отображается на все устройствах.
            .content-7
                .block-1
                    img(src=require('img/chloe/Tablet-3-min.png'))
                    img(src=require('img/chloe/Tablet-2-min.png'))
                    img(src=require('img/chloe/Tablet-1-min.png'))
                .block-2
                    img.mb50(src=require('img/chloe/641-min.png'))
                    img(src=require('img/chloe/1-min.png'))
        .work-footer
            .wrapper
                .cont
                    .block-1
                        .text-1 Следующий проект
                            img
                        .text-2 BOSTON
                    .block-2
                        img(src=require('img/main-page/boston.jpg'))
        footer
            .wrapper
                .text &#169 2020 Svetlana Tsymbalyuk
