doctype html
html(lang="en")
    head
        meta(charser = 'utf-8')
        link(rel="icon" type="image/png" sizes="16x16" href=require('img/main-page/favicon-16x16.png'))
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Проекты
        include ../analytics
    body.home
        .wrapper.header__wrapper
            header.header
                nav
                    ul
                        li
                            a.link.active(href='/en') Projects
                            a.link(href='/en/info.html') Info
                a.lang(href='/ru') RU
        .wrapper.slider__wrapper
            .slider
                .slider-list
                    .slide
                        .block-1
                            .bl
                                .num 01
                                .title(data-to-work="ibanez.html" data-cursor-hover) IBANEZ 
                                hr
                                .text-1 Corporate website
                                .text-2 Design
                            .text-3 2020
                        .block-2
                            .img-block(data-to-work="ibanez.html" data-cursor-hover)
                                .cover(
                                    style="background-image: url(" + require('./../../img/main-page/ibanez.jpg') + ')'
                                    data-src=require('./../../img/main-page/ibanez.jpg')
                                    )
                                .img-cover
                    .slide
                        .block-1
                            .bl
                                .num 02
                                .title(data-to-work="jcb.html" data-cursor-hover) JCB
                                hr
                                .text-1 Corporate website
                                .text-2 Design
                            .text-3 2020
                        .block-2
                            .img-block(data-to-work="jcb.html" data-cursor-hover)
                                .cover(
                                    style="background-image: url(" + require('./../../img/main-page/jcb.jpg') + ')'
                                    data-src=require('./../../img/main-page/jcb.jpg')
                                    )
                                .img-cover
                    .slide
                        .block-1
                            .bl
                                .num 03
                                .title(data-to-work="unique.html" data-cursor-hover) UNIQUE
                                hr
                                .text-1 Digital agency site
                                .text-2 Design
                            .text-3 2020
                        .block-2
                            .img-block(data-to-work="unique.html" data-cursor-hover)
                                .cover(
                                    style="background-image: url(" + require('./../../img/main-page/p4.jpg') + ')'
                                    data-src=require('./../../img/main-page/p4.jpg')
                                    )
                                .img-cover
                    .slide
                        .block-1
                            .bl
                                .num 04
                                .title(data-to-work="art-guide.html" data-cursor-hover) ARTGUIDE
                                hr
                                .text-1 News site redesign
                                .text-2 Design
                            .text-3 2020
                        .block-2
                            .img-block(data-to-work="art-guide.html" data-cursor-hover)
                                .cover(
                                    style="background-image: url(" + require('./../../img/main-page/p3.jpg') + ')'
                                    data-src=require('./../../img/main-page/p3.jpg'))
                                .img-cover
                    .slide
                        .block-1
                            .bl
                                .num 05
                                .title(data-to-work="chloe.html" data-cursor-hover) CHLOE
                                hr
                                .text-1 Online store redesign
                                .text-2 Design
                            .text-3 2019
                        .block-2
                            .img-block(data-to-work="chloe.html" data-cursor-hover)
                                .cover(
                                    style="background-image: url(" + require('./../../img/main-page/p2.jpg') + ')'
                                    data-src=require('./../../img/main-page/p2.jpg')
                                    )
                                .img-cover
                    .slide
                        .block-1
                            .bl
                                .num 06
                                .title(data-to-work="boston.html" data-cursor-hover) BOSTON
                                hr
                                .text-1 Landing page for club house
                                .text-2 Design
                            .text-3 2019
                        .block-2
                            .img-block(data-to-work="boston.html" data-cursor-hover)
                                .cover(
                                    style="background-image: url(" + require('./../../img/main-page/p1.jpg') + ')'
                                    data-src=require('./../../img/main-page/p1.jpg')
                                    )
                                .img-cover

